.hero {
    position: relative;
    overflow: hidden; 
    .container {
        position: relative;
        padding: $padding-small;
        z-index: 1;
        display: flex;
        align-items: center;
     
        @include tablet {
            padding: $padding-extra-large 0;
           
        }
        h1 {
            font-size: 40px;
           
            @include desktop {
                font-size: 70px;
            }
        }
        .hero-content {
            width: 100%; 
            text-align: center;
            @include desktop {
                text-align: left; 
            }
            @include desktop {
                width: 45%; 
            } 
            
        }
    }
    .bg-img {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 0;
        @include desktop {
            display: block;
        }
    }

}

    
