.success-story {
    padding-top: $padding-medium;
    
    @include desktop {
        padding: $padding-large 0;
        height: 800px;
    }
    .container {
        padding: 0;
        
        text-align: center;
        position: relative;
        .success-metrics {
            display: block;
            @include tablet {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr; 
            }
            .metric {
                padding: 20px;
                p {
                    width: 70%;
                    margin: 0 auto;
                }
                h3 {
                    font-size: 40px;
                }
                @include desktop {
                    h3 {
                        font-size: 100px;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .background {
            position: absolute;
            display: none;
            top: 15px;
            left: 50%;
            transform: translateX(-50%); 
            z-index: 0;
            @include tablet {
                display: block;
                width: 80%;
            }
            @include desktop {
                width: 100%;
            }
            
        }

        .success-img {
           
            position: absolute;
            display: none;
            left: 50%;
            top: 50%;
            transform: translate(-50%, 35%);
            z-index: 1;
            @include desktop {
                display: block;
            }
            
        }
    }
}