.trust {
    padding: $padding-medium 0;
    @include desktop {
        padding-top: $padding-extra-large;
        padding-bottom: 0;
    }
    .container {
        position: relative;
        text-align: center;
        h2 {
            h2 {
                font-size: 20px;
                @include desktop {
                    font-size: 40px;
                }
            }
        }
        .background, .client-img {
            display: none;

            @include desktop {
                display: block;
            }
        }

        .background {
            position: absolute;
            top: 62px;
            left: 50%;
            transform: translateX(-50%); 
            z-index: -1;
            
        }
        .client-img {
            padding-top: 100px;
            width: 100%;
        }
        p {
            margin: 0 auto;
            width: 50%;
         }
    }
}