@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage");
  
    var tags = settings?.Value<IEnumerable<string>>("tags") ?? Enumerable.Empty<string>();
}

@if (tags.Any())
{
    <div class="tags-list">
        @foreach (var tag in tags)
        {
            <div class="tag">@tag</div>
        }
    </div>
}
