
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
}

@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }