footer {
    .container {
        display: flex;
        align-items: center;
        height: 100%;
        padding: $padding-small;
        text-align: center;
        @include tablet {
            padding: $padding-small 0;
            text-align: left;
        }
        p {
            padding: 0px;
            font-size: 10px;
            @include tablet {
                font-size: 14px;
            }
        }
    }
}