#success-story {
  
    padding-bottom: 40px;


    @include desktop {
        height: 800px;
    }

    .container {
      
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;

        h2 {
            color: var(--color-light);
        }

        h1 {
            font-size: 100px;
            color: var(--color-secondary);
            margin: 0;
        }

        p {
            color: var(--color-light);
            font-size: 18px;
            margin: 0 40px;
            padding-bottom: 40px;
        }

        .background-img {
            position: absolute;
            display: none;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;

            @include tablet {
                display: block;
                width: 80%;
            }

            @include desktop {
                width: 100%;
            }
        }

        img {
            position: absolute;
            left: 0; // Reset to the left edge
            right: 0; // Reset to the right edge
            margin: auto; // Center horizontally
            max-width: 100%;
            height: auto;
            z-index: 1;


            @include desktop {
                display: block;
            }
        }
    }
}
