#why-choose-us {
    padding-bottom: 0;
    
    .container {
        position: relative;
        text-align: center;


        h2 {
            font-size: 20px;
            margin: 0;

            @include desktop {
                font-size: 40px;
            }
        }


        span {
            font-size: 40px;
            @include heading;
            margin-bottom: 40px;
        }

        .background-img, .client-img {
            display: none;

            @include desktop {
                display: block;
            }
        }

        .background-img {
            position: absolute;
            top: 62px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }

        img {
            padding-top: 100px;
            width: 100%;
        }

        p {
            margin: 20px auto;
            width: 50%;
        }
    }
}
