
#request {
    position: relative;
    height: 100%;


    @include desktop {
        height: 748px;
        margin-bottom: 120px;
    }

    .container {
        position: absolute;
        background-color: var(--color-light);
        padding: 30px 0;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 45%);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        width: 90%;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        
        @include desktop {
            position: absolute;
            width: 80%;
            padding: 60px 0;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 40%);
        }


        .contact-callback-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 40px;

            h2, p {
                width: 100%;

                @include desktop {
                    width: 40%;
                }
            }

            form {
                display: grid;
                grid-template-columns: 1fr;

                @include tablet {
                    grid-template-columns: 1fr 1fr;
                }

                .button-container {
                    display: flex;
                    justify-content: center;
                    grid-column: span 1;
                    padding-top: 10px;

                    @include tablet {
                        grid-column: span 2;
                    }
                }
            }
        }
    }

    .background-img {
        display: none;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 0;

        @include desktop {
            display: block;
        }
    }
}
