.page-title {
    padding-top: 30px;
    padding-bottom: 70px;
    position: relative;

    .container {
        text-align: center;

        h1 {
            margin-bottom: 0;
        }

        .breadcrumb {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;

            ul, li {
                list-style-type: none;
            }

            @include desktop {
                width: 100%;
            }

            a {
                color: var(--color-dark);
            }

            li {

                &:not(:last-child)::after {
                    content: '>';
                    margin: 0 0.8rem;
                }


                &:last-child {
                    color: var(--color-secondary);
                }
            }
        }
    }

    .decor-down, .decor-up {
        position: absolute;
        display: none;

        @include desktop {
            display: block;
        }
    }

    .decor-down {
        bottom: 0;
        left: 0;
    }

    .decor-up {
        top: 0;
        right: 0;
    }
}
