form {
    width: 100%;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    
    .input-group {
        display: grid;
    }
     
    label {
        margin-bottom: 0.188rem;
        font-weight: 700;
    }

    input {
        padding: 1rem;
        border-radius: 0.1rem !important;
        border: 0.063rem solid var(--color-gray-dark);

        &::placeholder {
            opacity: 0.4;
        }
    
        &:focus {
            outline: none;
            border: 0.063rem solid var(--color-gray-dark);
        }
    }

    textarea {
        padding: 1rem;
        border-radius: 0.1rem !important;
        border: 0.063rem solid var(--color-gray-dark);
        resize: none;

        &::placeholder {
            opacity: 0.4;
        }
    }

}

.help-form {
    padding: 1.7rem 1rem 0.8rem 1rem;
    position: relative;
    
    h4 {
        color: var(--color-accent) !important;
    }

    h4, p {
        padding-left: 1rem;
    }

    p {
        font-weight: 300;
    }

    .decoration-image {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}