#founder {
    padding: $padding-small;
    position: relative;

    @include desktop {
        padding: $padding-extra-large 0;
    }

    .container {
        img {
            width: 100%;
            padding-bottom: 15px;
                        
            @include desktop {
                width: 70%
            }
        }

        p {
            padding-bottom: 25px;
        }
    }
}
