.contact-section {
    padding: $padding-small;

    @include desktop {
        padding-top: $padding-large;
        padding-bottom: 0;
    }

    .contact-card {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 40px;
        text-align: center;

        @include desktop {
            grid-template-columns: 1fr 1fr;
        }

        .img-container {
            display: none;

            @include tablet {
                display: block;
            }
        }

        .contact-info {
            margin: 0 auto;
            text-align: center;

            @include desktop {
                text-align: left;
            }

            h2 {
                width: 100%;

                @include desktop {
                    width: 70%;
                }
            }

            .info {
                display: flex;
                text-align: left;
                gap: 8px;

                i {
                    padding-top: 3px;
                    color: var(--color-secondary);
                }
            }
        }

        span {
            color: var(--color-primary);
            font-weight: 700;
        }
    }
}
