#our-expert {

    .container {
        text-align: center;

        h2 {
            width: 100%;
            margin: 0 auto;
            padding-bottom: 30px;

            @include desktop {
                width: 40%;
            }
        }

        .team-members {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(1, 1fr);

            @include desktop {
                display: flex;
                justify-content: space-between;
                padding-bottom: 40px;
            }

            .team-member {
                padding: 0;
                border: 1px solid var(--color-gray-dark);

                p {
                    padding-bottom: 30px;
                }

                h4 {
                    padding-top: 15px;
                    margin: 0;
                }
            }
        }
    }
}
