.trusted {
    padding: $padding-medium $padding-small;
    position: relative;
    height: 100%;
    @include desktop {
        padding: $padding-extra-large 0;
        height: 511px;
    }
    .container {
        
        display: grid;
        text-align: center;
        justify-content: center;
        @include desktop {
            text-align: left;
            align-items: center;
            justify-content: left;
            
        }
        p {
           
            @include desktop {
                width: 40%;
            }
        }
        h6 {
            color: var(--color-dark);
            font-weight: 400;
        }
        h5 {
            font-style: italic;
            font-weight: 600;
        }
        .stars {
            display: flex;
            gap: 3px;
            justify-content: center;
            color: var(--color-dark);
            font-size: 12px;
          
            padding-bottom: 15px;
            @include desktop {
                justify-content: left;
            }
        }
              

    }
    img {
        position: static;  
        width: 100%;
        @include desktop {
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            right: 0;
          
        }
    }
}